<div class="hero">
    <img src="img/bg-med.jpg" alt="library shelf with books" />
    <div class="container heroContent">
        <div class="searchButton">
            <input type="search" />
            <Button>Search Books</Button>
        </div>
    </div>
</div>