/* Typography styles */
.text {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Font families */
.textFontInter {
    font-family: 'Inter', sans-serif;
}

.textFontBodoni {
    font-family: 'Bodoni Moda', serif;
}

/* Font sizes */
.textSizeHeading {
    font-size: calc(48 / 16 * 1rem);
    font-weight: 800;
}

.textSizeSubheading {
    font-size: calc(40 / 16 * 1rem);
    font-weight: 700;
}

.textSizeSubtext {
    font-size: calc(24 / 16 * 1rem);
    font-weight: 700;
}

.textSizeLabel {
    font-size: calc(20 / 16 * 1rem);
    font-weight: 600;
}

.textSizeDefault {
    font-size: calc(16 / 16 * 1rem);
}

.textSizeSmall {
    font-size: calc(14 / 16 * 1rem);
}

/* Text colors */
.textColorDefault {
    color: var(--text-black, #101828);
}

.textColorGray {
    color: var(--text-gray);
}

.textColorWhite {
    color: var(--white);
}

.textColorPrimary {
    color: var(--primary-600);
}

.textColorInherit {
    color: inherit;
}
