<div class="relatedBooks">
    <Text Style="font-weight: 600">Suggestions/Related Books</Text>
    <hr />
    <div style="display: flex; padding-top: 10px; justify-content: flex-start">No related books</div>
</div>