@page
@model MarthasLibrary.IdentityServer.Pages.Account.Register.IndexModel
@{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>Register</h2>
            </div>

            <div class="card-body">
                <form asp-page="/Account/Register/Index">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input class="form-control" placeholder="Username" asp-for="Input.Email" autofocus>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Input.ConfirmPassword" autocomplete="off">
                    </div>
                    <button class="btn btn-primary" name="Input.Button" value="login">Register</button>
                </form>
                
                <!-- Add a "Back to Login" button -->
                <div class="text-center mt-3">
                    <a asp-page="/Account/Login/Index">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
    // <div class="authShared">
    //     <h2>Register</h2>
    //     <div class="authSharedForm">
    //         <partial name="_ValidationSummary"/>
    //         <div class="form-group">
    //             <label for="Email">Email</label>
    //             <input type="email" class="form-control" id="Email">
    //         </div>
    //         <div class="form-group">
    //             <label for="Password">Password</label>
    //             <input type="password" class="form-control" id="Password">
    //         </div>
    //         <div class="form-group">
    //             <label for="ConfirmPassword">Confirm Password</label>
    //             <input type="password" class="form-control" id="ConfirmPassword">
    //         </div>
    //         <button class="btn btn-primary">Register</button>
    //     </div>
    //     <div>
    //         <a asp-page="/Account/Login/Index" class="font-weight-bold" style="text-decoration: underline;">Login</a>
    //     </div>
    // </div>
}