@inherits LayoutComponentBase

<div class="header container @ClassName">
    <button onclick="@onClick">
        <img src="img/ham.svg" alt="Ham Icon" style="font-size: 1.5rem;" />
    </button>
    <div>
        <div></div>
        <div></div>
    </div>
</div>

@code {
    [Parameter] public EventCallback onClick { get; set; }
    [Parameter] public string ClassName { get; set; }

    private async Task HandleClick(MouseEventArgs e)
    {
        await onClick.InvokeAsync();
    }
}