@page
@model MarthasLibrary.Web.Pages.Auth.LoginModel
@{
  ViewData["Title"] = "Login";
}

<div class="authShared">
  <h3>Logout</h3>
  <div class="authSharedForm">
    <button type="submit" class="btn btn-primary" asp-page-handler="Logout">Logout</button>
  </div>
</div> 