@inherits Microsoft.AspNetCore.Components.ComponentBase

<div class="inputContainer">
    <label class="inputContainerLabel" for="@(_id)">@Label</label>
    <textarea id="@(_id)" @attributes="AdditionalAttributes" class="inputContainerInput textarea"></textarea>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AdditionalAttributes { get; set; } = new();

    private readonly string _id = Guid.NewGuid().ToString("N");
}