@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div style="border-bottom: 1px solid gray">
    <div class="container @HeaderClass">
        <NavLink href="@Utils.Routes.Landing.Root">
            <Typography class="app-logo" Color="none" Font="Bodoni" content="Martha's Library" />
        </NavLink>
        <div style="display: flex; align-items: center; gap: 20px;">
            <NavLink href="/dashboard/counter">
                <Button text="@_buttonText"></Button>
            </NavLink>
        </div>
    </div>
    <article class="content px-4">
        @Body
    </article>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<RouterView />

@code {

    private static string HeaderClass => "header";
    private string? _buttonText;

    protected override async void OnInitialized()
    {
        _buttonText = await GetButtonText();
    }


    private async Task<string?> GetButtonText()
    {
        bool isAuth = await IsUserAuthenticated();
        return isAuth ? "Dashboard" : "Get Started";
    }

    private async Task<bool> IsUserAuthenticated()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        return authState.User.Identity?.IsAuthenticated ?? false;
    }
}


