<RenderFragment>
    <NavLink href="@Utils.Routes.Landing.Root">
        <Typography class="app-logo" Color="none" Font="Bodoni" content="Martha's Library" />
    </NavLink>
    <div style="display: flex; align-items: center; gap: 20px;">
        <NavLink href="/dashboard">
            <Button text="@GetButtonText()"></Button>
        </NavLink>
    </div>
</RenderFragment>

@code {
    private bool isAuth = true;

    private static string HeaderClass => "header";

    private string GetButtonText()
    {
        return isAuth ? "Dashboard" : "Get Started";
    }
}
