@using MarthasLibrary.APIClient
<div class="bookCard">
    <div class="bookCardImg">
        <img src="img/default.jpg" alt="@book?.Title"/>
    </div>
    <div>
        <a href="@($"/book/{book?.Id}-8y28y342{new Random().Next(1, 3)}")">
            <Typography Size="Label" class="bookCardTitle">
                @book?.Title
            </Typography>
        </a>
        <Typography Size="Small" class="bookCardDescription">
            @(book?.Author ?? "No description for this book")
        </Typography>
    </div>
    <hr/>
    <div>
        <BookStatus Status="@book?.Status"/>
    </div>
</div>

@code {

    [Parameter]
    public BookDetails? book { get; set; }

}