@page "/dashboard/counter"
@layout DashboardLayout
@attribute [StreamRendering]

@using MarthasLibrary.BlazorApp.Components.Layout
@using MarthasLibrary.APIClient

@inject MarthasLibraryAPIClient MarthasLibraryApiClient


<PageTitle>Reservations</PageTitle>

<h1>Reservations</h1>

@if (ReservationDetails == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Book Title</th>
            <th>Reservation Date</th>
            <th>Expiry Date</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var reservation in ReservationDetails)
        {
            <tr>
                <td>@reservation.Title</td>
                <td>@reservation.ReservedDate</td>
                <td>@reservation.ExpiryDate</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    public List<ReservationDetails>? ReservationDetails;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // var response = MarthasLibraryApiClient.GetReservationsForCustomerAsync()
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
