

/* Style the custom select container */
.select-container {
    position: relative;
}

/* Style the select element */
.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-300);
    color: #999;
    position: relative;
    cursor: pointer;
}

/* Style the arrow icon */
.select-arrow {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
}

/* For IE <= 11 */
select::-ms-expand {
    display: none;
}
